<section class="contact__" id="contact__">

    <div class="contact__row">
      <h1 class="contact__heading"> <span> contact </span> us </h1>
      <form class="contact__form" id='contact__form' action="http://localhost/basic_workshop/includes/config/controllers/general.php" method="post">
        <input type="text" class="contact__input" name="contact__name" placeholder="name">
        <input type="email" class="contact__input" name="contact__email" placeholder="email">
        <textarea class="contact__input" placeholder="please type your messsage" name="contact__message" rows="10" cols="30"></textarea>
  
        <input class="contact__button" type="submit" value="send message">
      </form>
  
      <div class="contact__image">
        <img id='contact__img' src="http://localhost/basic_workshop/includes/assets/media/images/landing/contact-img.svg">
      </div>
    </div>
  </section>
  