<section class="icons__">
    <div class="icons__">
      <div class="icons__images">
        <img id='icons__0' src="http://localhost/basic_workshop/includes/assets/media/images/landing/icon-0.png" alt="">
          <div class="icons__info">
            <h3>Accessible</h3> <span>first responders, hospitals, medical offices</span>
          </div>
      </div>
  
      <div class="icons__images">
        <img id='icons__1' src="http://localhost/basic_workshop/includes/assets/media/images/landing/icon-1.png" alt="">
          <div class="icons__info">
            <h3>All ages</h3> <span>affordable pricing</span>
          </div>
      </div>
  
      <div class="icons__images">
        <img id='icons__2' src="http://localhost/basic_workshop/includes/assets/media/images/landing/icon-2.png" alt="">
          <div class="icons__info">
            <h3>Prevent FWA</h3> <span>prevent unnecessary medical bills, fraud waste and abuse</span>
          </div>
      </div>
  
      <div class="icons__images">
        <img id='icons__3' src="http://localhost/basic_workshop/includes/assets/media/images/landing/icon-3.png" alt="">
          <div class="icons__info">
            <h3>Secure payments</h3> <span>PCI-DSS & GDPR compliant</span>
          </div>
      </div>
    </div>
  </section>
  