<section id="story__">
    <div class="story__">
      <h1 class="story__heading"> <span> Our </span> Story </h1>
      <div class="story__row">
        <div class="story__videoContainer">
          <video id='story__video' src="http://localhost/basic_workshop/includes/assets/media/videos/story-vid.mp4" loop autoplay muted></video>
          <h3>Exclusive merchandise and enhanced experience</h3>
        </div>
        <div class="story__content">
          <li>here is where we have a placeholder video, we will pay for a video to be made or purchased from stock footage; or we will have a video sales letter and introduction video from CAN.</li>
          <h3>Why choose us?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
            <a href="#" class="story__button">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  